.Loader {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 20 20;
}

.Header {
  background-color: white;
  min-width: 800px;
  width: 100%;
  margin: 0 1px;
  padding: 0;
  border: 1px solid grey;
  box-sizing: border-box;
  border-radius: 3px 3px 0 0;
}